@import url("../js/dojo-1.9.3/dojo/resources/dojo.css");
@import url("../js/dojo-1.9.3/dijit/themes/claro/claro.css");
@import url("../../js/dojo-1.9.3/dojox/grid/enhanced/resources/claro/EnhancedGrid.css");
@import url("../../js/dojo-1.9.3/dojox/grid/enhanced/resources/EnhancedGrid_rtl.css");

/*Grid need a explicit width/height by default*/
#grid {
    width: 45em;
    height: 20em;
    color:#ED440C;

}